[Unit]
Description=Docker Volume driver for file volume storage

[Socket]
ListenStream=/var/run/docker/plugins/filevol.sock

[Install]
WantedBy=sockets.target
